<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hegylakó találkozó</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <img src="../static/atlatszo_icon.png" alt="">
        <div class="nev">
            Hegylakó találkozó
        </div>
        <div class="al_nev">
            - kopaszhegy -
        </div>
    </header>
    <div class="test">
        <div class="informacio">
            <ul>
                <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d1795.3153735323474!2d19.350300669758127!3d47.47191760472036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDfCsDI4JzE4LjkiTiAxOcKwMjEnMDMuNCJF!5e1!3m2!1shu!2shu!4v1746431404131!5m2!1shu!2shu" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> <br>
            Helyszín: <a href="https://www.google.com/maps/place/47%C2%B028'18.9%22N+19%C2%B021'03.4%22E/@47.4719109,19.3502893,412m/data=!3m2!1e3!4b1!4m10!1m5!3m4!2zNDfCsDI4JzE5LjAiTiAxOcKwMjEnMDQuMCJF!8m2!3d47.4719444!4d19.3511111!3m3!8m2!3d47.47191!4d19.350933?entry=ttu&g_ep=EgoyMDI1MDQzMC4xIKXMDSoASAFQAw%3D%3D">47°28'18.9"N 19°21'03.4"E</a> 
            <br>Időpont: 2025.06.14
            </ul>
            Újra megrendezésre kerül a hegylakó találkozó 7 év után. <br>
            Ez a rendezvény a Pécelen lakó kopaszhegyi lakosoknak egy nyitott rendezvény. <br>
            Rossz idő esetén a rendezvény időpontját módosítjuk. <br>
            Amit hozz magaddal: <br> - Mindenkinek legyen sütnivalója <br> - ja és ne felejtsétek hozni a szomszédot is. <br>
            Jelszó: <q>A végén csak egy maradhat</q>

        </div>
    </div>
    
</body>
</html>